 adds all of Amy's work doing shapes to the csv

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
data = "Resources/dont_touch_me.csv"


# Read School and Student Data File and store into Pandas DataFrames
UFO_data = pd.read_csv(data)


UFO_data["shape_reported"] = UFO_data["shape"]

UFO_data["shape"] = UFO_data["shape"].replace({"cigar": "cylinder", "circle": "disk", "changed": "changing","round":"sphere", "fireball": "sphere", "formation":"undefined"})

UFO_data["shape_category"] = UFO_data["shape"]
UFO_data["shape_category"] = UFO_data["shape_category"].replace({"disk": "roundish", "sphere": "roundish", "undefined": "other", "unknown":"other","flash":"light","egg":"oblong","teardrop":"oblong", "cylinder":"oblong","rectangle":"oblong","cone":"triangulesque","triangle":"triangulesque","hexagon":"roundish","dome":"triangulesque"})

In [6]:
UFO_data.head()

,Unnamed: 0,text,date_time,city,state,shape,duration,grade,shape_reported,shape_category
0,0,Translucent cylindrical silent aircraft Seen n...,10/6/20 14:40,Alexander,NC,Cylinder,10 seconds,College Level,Cylinder,Cylinder
1,1,Tonight around 11 pm i walked outside to see i...,3/20/19 23:00,Wright,AR,Disk,1 minute,5th Grade,Disk,Disk
2,2,4 triangular sightings with different light pa...,4/16/19 21:30,Titusville,FL,Triangle,30 minutes,7th Grade,Triangle,Triangle
3,3,Bright orange lights seen by a family of 4 in ...,4/16/19 21:30,Knoxville,IL,Light,08:00,7th Grade,Light,Light
4,4,MADAR Node 145,4/9/19 21:41,Norwood,NJ,NaN,NaN,5th Grade,NaN,NaN

In [8]:
UFO_data = UFO_data[['text','grade','date_time','duration', 'city','state','shape_reported','shape','shape_category']]
UFO_data.head()

,text,grade,date_time,duration,city,state,shape_reported,shape,shape_category
0,Translucent cylindrical silent aircraft Seen n...,College Level,10/6/20 14:40,10 seconds,Alexander,NC,Cylinder,Cylinder,Cylinder
1,Tonight around 11 pm i walked outside to see i...,5th Grade,3/20/19 23:00,1 minute,Wright,AR,Disk,Disk,Disk
2,4 triangular sightings with different light pa...,7th Grade,4/16/19 21:30,30 minutes,Titusville,FL,Triangle,Triangle,Triangle
3,Bright orange lights seen by a family of 4 in ...,7th Grade,4/16/19 21:30,08:00,Knoxville,IL,Light,Light,Light
4,MADAR Node 145,5th Grade,4/9/19 21:41,NaN,Norwood,NJ,NaN,NaN,NaN

In [9]:
UFO_data.to_csv('Resources/dont_touch_me.csv',index=False)