In [1]:
import pandas as pd 
from fkscore import fkscore

In [2]:
data = 'Resources/current_data.csv'
df = pd.read_csv(data)

In [3]:
df['grade'] = ''

{'num_sentences': 2, 'num_words': 19, 'num_syllables': 21}
{'readability': 103.687, 'grade': '5th Grade'}
---------------------------------------------
{'num_sentences': 6, 'num_words': 68, 'num_syllables': 83}
{'readability': 92.07, 'grade': '5th Grade'}

                                            comments             grade
0  This event took place in early fall around 194...         5th Grade
1  1949 Lackland AFB&#44 TX.  Lights racing acros...         5th Grade
2  Green/Orange circular disc over Chester&#44 En...  College Graduate
3  My older brother and twin sister were leaving ...         9th Grade
4  AS a Marine 1st Lt. flying an FJ4B fighter/att...         9th Grade

In [4]:
for index,row in df.iterrows():
    try:
        text = str(df.loc[index,'text'])
        f=fkscore(text)
        df.loc[index,'grade'] = f.score['grade']
    except ZeroDivisionError:
        df.loc[index,'grade'] = 'Unknown'

In [8]:
df = df[['text','date_time','city','state','shape','duration','grade']]
df.head()

,text,date_time,city,state,shape,duration,grade
0,Translucent cylindrical silent aircraft Seen n...,10/6/20 14:40,Alexander,NC,Cylinder,10 seconds,College Level
1,Tonight around 11 pm i walked outside to see i...,3/20/19 23:00,Wright,AR,Disk,1 minute,5th Grade
2,4 triangular sightings with different light pa...,4/16/19 21:30,Titusville,FL,Triangle,30 minutes,7th Grade
3,Bright orange lights seen by a family of 4 in ...,4/16/19 21:30,Knoxville,IL,Light,08:00,7th Grade
4,MADAR Node 145,4/9/19 21:41,Norwood,NJ,NaN,NaN,5th Grade

In [9]:
df.to_csv('Resources/dont_touch_me.csv')