In [1]:
import pandas as pd 
from fkscore import fkscore

In [2]:
data = 'Resources/scrubbed.csv'
data2 = 'Resources/current_data.csv'
df = pd.read_csv(data)
df2 = pd.read_csv(data2)

In [9]:
df_comments = df[['comments']]
df_comments['grade'] = ''

df2_comments = df2[['text']]
df2_comments['grade'] = ''

In [14]:
for index,row in df_comments.iterrows():
    try:
        text = str(df_comments.loc[index,'comments'])
        f=fkscore(text)
        df_comments.loc[index,'grade'] = f.score['grade']
    except ZeroDivisionError:
        df_comments.loc[index,'grade'] = 'Unknown'

In [8]:
f = fkscore(text)
f2 = fkscore(text2)
print(f.stats)
print(f.score)
print('---------------------------------------------')
print(f2.stats)
print(f2.score)

{'num_sentences': 2, 'num_words': 19, 'num_syllables': 21}
{'readability': 103.687, 'grade': '5th Grade'}
---------------------------------------------
{'num_sentences': 6, 'num_words': 68, 'num_syllables': 83}
{'readability': 92.07, 'grade': '5th Grade'}

In [15]:
df_comments.head()

                                            comments             grade
0  This event took place in early fall around 194...         5th Grade
1  1949 Lackland AFB&#44 TX.  Lights racing acros...         5th Grade
2  Green/Orange circular disc over Chester&#44 En...  College Graduate
3  My older brother and twin sister were leaving ...         9th Grade
4  AS a Marine 1st Lt. flying an FJ4B fighter/att...         9th Grade

In [16]:
for index,row in df2_comments.iterrows():
    try:
        text = str(df2_comments.loc[index,'text'])
        f=fkscore(text)
        df2_comments.loc[index,'grade'] = f.score['grade']
    except ZeroDivisionError:
        df2_comments.loc[index,'grade'] = 'Unknown'

In [17]:
df2_comments.head()

                                                text          grade
0  Translucent cylindrical silent aircraft Seen n...  College Level
1  Tonight around 11 pm i walked outside to see i...      5th Grade
2  4 triangular sightings with different light pa...      7th Grade
3  Bright orange lights seen by a family of 4 in ...      7th Grade
4                                     MADAR Node 145      5th Grade