In [1]:
import pandas as pd 

file = 'Resources/dont_touch_me.csv'

df = pd.read_csv(file)
df.head()

                                                text  ... shape_category
0  Translucent cylindrical silent aircraft Seen n...  ...       Cylinder
1  Tonight around 11 pm i walked outside to see i...  ...           Disk
2  4 triangular sightings with different light pa...  ...       Triangle
3  Bright orange lights seen by a family of 4 in ...  ...          Light
4  Quick white flashing streak that turned greeni...  ...          Flash

[5 rows x 11 columns]

In [3]:

df = df.dropna()

text              12051
grade             12051
date_time         12051
time_of_day       12051
season            12051
duration          12051
city              12051
state             12051
shape_reported    12051
shape             12051
shape_category    12051
dtype: int64

In [9]:
state_stuff = 'Resources/state_abbrev.csv'
state_data = pd.read_csv(state_stuff)
for i in range(50):
    state_data['abbrev'][i] = state_data['abbrev'][i].upper()

             state abbrev
0          Alabama     AL
1           Alaska     AK
2          Arizona     AZ
3         Arkansas     AR
4       California     CA
5         Colorado     CO
6      Connecticut     CT
7         Delaware     DE
8          Florida     FL
9          Georgia     GA
10          Hawaii     HI
11           Idaho     ID
12        Illinois     IL
13         Indiana     IN
14            Iowa     IA
15          Kansas     KS
16        Kentucky     KY
17       Louisiana     LA
18           Maine     ME
19        Maryland     MD
20   Massachusetts     MA
21        Michigan     MI
22       Minnesota     MN
23     Mississippi     MS
24        Missouri     MO
25         Montana     MT
26        Nebraska     NE
27          Nevada     NV
28   New Hampshire     NH
29      New Jersey     NJ
30      New Mexico     NM
31        New York     NY
32  North Carolina     NC
33    North Dakota     ND
34            Ohio     OH
35        Oklahoma     OK
36          Oregon     OR
37    Pennsylvania     PA
38    Rhode Island     RI
39  South Carolina     SC
40    South Dakota     SD
41       Tennessee     TN
42           Texas     TX
43            Utah     UT
44         Vermont     VT
45        Virginia     VA
46      Washington     WA
47   West Virginia     WV
48       Wisconsin     WI
49         Wyoming     WY