In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
shape_data = "Resources/shape_data.csv"
state_abbrev = "Resources/state_abbrev.csv"


# Read School and Student Data File and store into Pandas DataFrames
shape_data_df = pd.read_csv(shape_data)
state_abbrev_df = pd.read_csv(state_abbrev)

shape_data_df.head()

C:\Users\grety\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (7,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,datetime,city,state,shape_category,shape,shape_reported,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,0,10/10/1949 20:30,san marcos,tx,oblong,cylinder,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,1,10/10/1949 21:00,lackland afb,tx,light,light,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,2,10/10/1955 17:00,chester (uk/england),NaN,roundish,disk,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,3,10/10/1956 21:00,edna,tx,roundish,disk,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,4,10/10/1960 20:00,kaneohe,hi,light,light,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [4]:
grouped_by_state = shape_data_df.groupby(["state", "shape_category"])
grouped_by_state.count()

                      Unnamed: 0  datetime  city  shape  shape_reported  \
state shape_category
ab    changing                 4         4     4      4               4
      chevron                  2         2     2      2               2
      cross                    1         1     1      1               1
      diamond                  9         9     9      9               9
      light                   73        73    73     73              73
...                          ...       ...   ...    ...             ...
yk    roundish                 2         2     2      2               2
yt    light                    1         1     1      1               1
      other                    3         3     3      3               3
      roundish                 7         7     7      7               7
      triangulesque            2         2     2      2               2

                      duration (seconds)  duration (hours/min)  comments  \
state shape_category
ab    changing                         4                     4         4
      chevron                          2                     2         2
      cross                            1                     1         1
      diamond                          9                     9         9
      light                           73                    73        73
...                                  ...                   ...       ...
yk    roundish                         2                     2         2
yt    light                            1                     1         1
      other                            3                     3         3
      roundish                         7                     7         7
      triangulesque                    2                     2         2

                      date posted  latitude  longitude
state shape_category
ab    changing                  4         4           4
      chevron                   2         2           2
      cross                     1         1           1
      diamond                   9         9           9
      light                    73        73          73
...                           ...       ...         ...
yk    roundish                  2         2           2
yt    light                     1         1           1
      other                     3         3           3
      roundish                  7         7           7
      triangulesque             2         2           2

[622 rows x 11 columns]

In [7]:
grouped_by_state1 = grouped_by_state[["datetime"]]
state_df = grouped_by_state1.count()

state_df.head()

                      datetime
state shape_category
ab    changing               4
      chevron                2
      cross                  1
      diamond                9
      light                 73

In [15]:
grouped_state_df = state_df.rename(columns={"datetime":"sightings"})
grouped_state_df.head(20)

                      sightings
state shape_category
ab    changing                4
      chevron                 2
      cross                   1
      diamond                 9
      light                  73
      oblong                 27
      other                  77
      oval                   13
      roundish               84
      triangulesque          38
ak    changing                5
      diamond                 5
      light                 110
      oblong                 18
      other                  49
      oval                   20
      roundish              106
      triangulesque          28
al    changing               13
      chevron                 9

In [14]:
grouped_state1_df=grouped_state_df.reset_index(drop=False)
grouped_state1_df.head()

   level_0  index  sightings
0        0      0          4
1        1      1          2
2        2      2          1
3        3      3          9
4        4      4         73