In [9]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
shape_data = "Resources/shape_data.csv"
state_abbrev = "Resources/state_abbrev.csv"


# Read School and Student Data File and store into Pandas DataFrames
shape_data_df = pd.read_csv(shape_data)
state_abbrev_df = pd.read_csv(state_abbrev)

#shape_data_df.head()
shape_data_df=shape_data_df[shape_data_df["country"]=="us"]
shape_data_df.head()

C:\Users\grety\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (7,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,datetime,city,state,country,shape_category,shape,shape_reported,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,oblong,cylinder,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,roundish,disk,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,light,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,roundish,sphere,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,roundish,disk,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333

In [10]:
grouped_by_state = shape_data_df.groupby(["state", "shape_category"])
grouped_by_state.count()

                      datetime  city  country  shape  shape_reported  \
state shape_category
ak    changing               5     5        5      5               5
      diamond                4     4        4      4               4
      light                100   100      100    100             100
      oblong                15    15       15     15              15
      other                 43    43       43     43              43
...                        ...   ...      ...    ...             ...
wy    oblong                10    10       10     10              10
      other                 30    30       30     30              30
      oval                   8     8        8      8               8
      roundish              51    51       51     51              51
      triangulesque         14    14       14     14              14

                      duration (seconds)  duration (hours/min)  comments  \
state shape_category
ak    changing                         5                     5         5
      diamond                          4                     4         4
      light                          100                   100       100
      oblong                          15                    15        15
      other                           43                    43        43
...                                  ...                   ...       ...
wy    oblong                          10                    10        10
      other                           30                    30        30
      oval                             8                     8         8
      roundish                        51                    51        51
      triangulesque                   14                    14        14

                      date posted  latitude  longitude
state shape_category
ak    changing                  5         5           5
      diamond                   4         4           4
      light                   100       100         100
      oblong                   15        15          15
      other                    43        43          43
...                           ...       ...         ...
wy    oblong                   10        10          10
      other                    30        30          30
      oval                      8         8           8
      roundish                 51        51          51
      triangulesque            14        14          14

[501 rows x 11 columns]

In [11]:
grouped_by_state1 = grouped_by_state[["datetime"]]
state_df = grouped_by_state1.count()

state_df.head()

                      datetime
state shape_category
ak    changing               5
      diamond                4
      light                100
      oblong                15
      other                 43

In [12]:
grouped_state_df = state_df.rename(columns={"datetime":"sightings"})
grouped_state_df.head(20)

                      sightings
state shape_category
ak    changing                5
      diamond                 4
      light                 100
      oblong                 15
      other                  43
      oval                   18
      roundish              100
      triangulesque          26
al    changing               12
      chevron                 9
      cross                   3
      diamond                15
      light                 143
      oblong                 52
      other                  93
      oval                   31
      roundish              192
      triangulesque          79
ar    changing               18
      chevron                10

In [13]:
grouped_state1_df=grouped_state_df.reset_index(drop=False)
grouped_state1_df.head()

  state shape_category  sightings
0    ak       changing          5
1    ak        diamond          4
2    ak          light        100
3    ak         oblong         15
4    ak          other         43

In [15]:
grouped_state1_df.state.value_counts()

mn    10
tn    10
ny    10
nv    10
ma    10
tx    10
ok    10
ks    10
nj    10
ca    10
al    10
pa    10
mt    10
id    10
vt    10
co    10
il    10
ut    10
me    10
ga    10
oh    10
ms    10
ky    10
mi    10
va    10
wv    10
sc    10
mo    10
nm    10
ct    10
wi    10
ar    10
in    10
az    10
or    10
nc    10
wa    10
ne    10
fl    10
nh     9
de     9
md     9
wy     9
nd     9
hi     9
ia     9
ri     9
sd     9
la     9
ak     8
pr     8
dc     5
Name: state, dtype: int64