uses marisabels bins to group data into times of day and seasons. drops anything that doesn't work

In [5]:
import pandas as pd
ufo_doc= "Resources/dont_touch_me.csv"

ufo_df = pd.read_csv(ufo_doc, encoding="ISO-8859-1")
ufo_df = ufo_df.dropna()
ufo_df.head()

,text,grade,date_time,duration,city,state,shape_reported,shape,shape_category
0,Translucent cylindrical silent aircraft Seen n...,College Level,10/6/20 14:40,10 seconds,Alexander,NC,Cylinder,Cylinder,Cylinder
1,Tonight around 11 pm i walked outside to see i...,5th Grade,3/20/19 23:00,1 minute,Wright,AR,Disk,Disk,Disk
2,4 triangular sightings with different light pa...,7th Grade,4/16/19 21:30,30 minutes,Titusville,FL,Triangle,Triangle,Triangle
3,Bright orange lights seen by a family of 4 in ...,7th Grade,4/16/19 21:30,08:00,Knoxville,IL,Light,Light,Light
6,Quick white flashing streak that turned greeni...,6th Grade,4/22/19 01:11,10 seconds,St. Petersburg,FL,Flash,Flash,Flash

In [6]:
ufo_df['hour'] = 0.0
for index,row in ufo_df.iterrows():
    try:
        time = str(ufo_df.loc[index,'date_time']).split()[1]
        hour = time.split(':')[0]
        ufo_df.loc[index,'hour'] = float(hour)
    except IndexError:
        ufo_df.drop(index)
ufo_df.head()

,text,grade,date_time,duration,city,state,shape_reported,shape,shape_category,hour
0,Translucent cylindrical silent aircraft Seen n...,College Level,10/6/20 14:40,10 seconds,Alexander,NC,Cylinder,Cylinder,Cylinder,14.0
1,Tonight around 11 pm i walked outside to see i...,5th Grade,3/20/19 23:00,1 minute,Wright,AR,Disk,Disk,Disk,23.0
2,4 triangular sightings with different light pa...,7th Grade,4/16/19 21:30,30 minutes,Titusville,FL,Triangle,Triangle,Triangle,21.0
3,Bright orange lights seen by a family of 4 in ...,7th Grade,4/16/19 21:30,08:00,Knoxville,IL,Light,Light,Light,21.0
6,Quick white flashing streak that turned greeni...,6th Grade,4/22/19 01:11,10 seconds,St. Petersburg,FL,Flash,Flash,Flash,1.0

In [7]:
ufo_df['time_of_day'] = ''
bins = [0,6,12,18,24]
labels = ["Dawn","Morning","Afternoon","Night"]

ufo_df["time_of_day"] = pd.cut(ufo_df['hour'], bins=bins, labels=labels)
ufo_df.head()

,text,grade,date_time,duration,city,state,shape_reported,shape,shape_category,hour,time_of_day
0,Translucent cylindrical silent aircraft Seen n...,College Level,10/6/20 14:40,10 seconds,Alexander,NC,Cylinder,Cylinder,Cylinder,14.0,Afternoon
1,Tonight around 11 pm i walked outside to see i...,5th Grade,3/20/19 23:00,1 minute,Wright,AR,Disk,Disk,Disk,23.0,Night
2,4 triangular sightings with different light pa...,7th Grade,4/16/19 21:30,30 minutes,Titusville,FL,Triangle,Triangle,Triangle,21.0,Night
3,Bright orange lights seen by a family of 4 in ...,7th Grade,4/16/19 21:30,08:00,Knoxville,IL,Light,Light,Light,21.0,Night
6,Quick white flashing streak that turned greeni...,6th Grade,4/22/19 01:11,10 seconds,St. Petersburg,FL,Flash,Flash,Flash,1.0,Dawn

In [8]:
ufo_df['month'] = 0.0
for index,row in ufo_df.iterrows():
    try:
        date = str(ufo_df.loc[index,'date_time']).split()[0]
        month = date.split('/')[0]
        ufo_df.loc[index,'month'] = float(month)
    except IndexError:
        ufo_df.drop(index)
    except ValueError:
        ufo_df.drop(index)
ufo_df.head()

,text,grade,date_time,duration,city,state,shape_reported,shape,shape_category,hour,time_of_day,month
0,Translucent cylindrical silent aircraft Seen n...,College Level,10/6/20 14:40,10 seconds,Alexander,NC,Cylinder,Cylinder,Cylinder,14.0,Afternoon,10.0
1,Tonight around 11 pm i walked outside to see i...,5th Grade,3/20/19 23:00,1 minute,Wright,AR,Disk,Disk,Disk,23.0,Night,3.0
2,4 triangular sightings with different light pa...,7th Grade,4/16/19 21:30,30 minutes,Titusville,FL,Triangle,Triangle,Triangle,21.0,Night,4.0
3,Bright orange lights seen by a family of 4 in ...,7th Grade,4/16/19 21:30,08:00,Knoxville,IL,Light,Light,Light,21.0,Night,4.0
6,Quick white flashing streak that turned greeni...,6th Grade,4/22/19 01:11,10 seconds,St. Petersburg,FL,Flash,Flash,Flash,1.0,Dawn,4.0

In [9]:
ufo_df['season'] = ''
bins = [0,3,6,9,12]
labels = ["Winter","Spring","Summer","Fall"]
ufo_df['season'] = pd.cut(ufo_df['month'], bins=bins, labels=labels)
ufo_df.head()

,text,grade,date_time,duration,city,state,shape_reported,shape,shape_category,hour,time_of_day,month,season
0,Translucent cylindrical silent aircraft Seen n...,College Level,10/6/20 14:40,10 seconds,Alexander,NC,Cylinder,Cylinder,Cylinder,14.0,Afternoon,10.0,Fall
1,Tonight around 11 pm i walked outside to see i...,5th Grade,3/20/19 23:00,1 minute,Wright,AR,Disk,Disk,Disk,23.0,Night,3.0,Winter
2,4 triangular sightings with different light pa...,7th Grade,4/16/19 21:30,30 minutes,Titusville,FL,Triangle,Triangle,Triangle,21.0,Night,4.0,Spring
3,Bright orange lights seen by a family of 4 in ...,7th Grade,4/16/19 21:30,08:00,Knoxville,IL,Light,Light,Light,21.0,Night,4.0,Spring
6,Quick white flashing streak that turned greeni...,6th Grade,4/22/19 01:11,10 seconds,St. Petersburg,FL,Flash,Flash,Flash,1.0,Dawn,4.0,Spring

In [10]:
ufo_df = ufo_df[['text','grade','date_time','time_of_day','season','duration','city','state','shape_reported','shape','shape_category']]
ufo_df

,text,grade,date_time,time_of_day,season,duration,city,state,shape_reported,shape,shape_category
0,Translucent cylindrical silent aircraft Seen n...,College Level,10/6/20 14:40,Afternoon,Fall,10 seconds,Alexander,NC,Cylinder,Cylinder,Cylinder
1,Tonight around 11 pm i walked outside to see i...,5th Grade,3/20/19 23:00,Night,Winter,1 minute,Wright,AR,Disk,Disk,Disk
2,4 triangular sightings with different light pa...,7th Grade,4/16/19 21:30,Night,Spring,30 minutes,Titusville,FL,Triangle,Triangle,Triangle
3,Bright orange lights seen by a family of 4 in ...,7th Grade,4/16/19 21:30,Night,Spring,08:00,Knoxville,IL,Light,Light,Light
6,Quick white flashing streak that turned greeni...,6th Grade,4/22/19 01:11,Dawn,Spring,10 seconds,St. Petersburg,FL,Flash,Flash,Flash
...,...,...,...,...,...,...,...,...,...,...,...
15094,In early Nov.2004 while on a hunting outing I ...,7th Grade,11/10/04 06:00,Dawn,Fall,15 minutes,Piedmont,KS,Light,Light,Light
15095,Light or energy flying object no lareger than ...,9th Grade,5/1/05 03:00,Dawn,Spring,1 or 2 minutes,Wayland,MA,Light,Light,Light
15096,Small silent UFO witnessed by 6 people flying ...,7th Grade,5/5/05 22:00,Night,Spring,20-30 seconds,Troy/Rochester Hills,MI,Triangle,Triangle,Triangle
15097,Didn't see object when I took the picture. No...,7th Grade,5/23/05 21:20,Night,Spring,2 seconds,Little Falls,MN,Other,Other,Other
15098,"a small, yellow, plain disk that hovered slowl...",6th Grade,6/17/05 17:00,Afternoon,Spring,20-30 seconds,Chester,IL,Disk,Disk,Disk

In [11]:
ufo_df.to_csv('Resources/dont_touch_me.csv',index = False)