In [1]:
from text_analyzer import analyze_comment
import pandas as pd

In [2]:
data = 'Resources/scrubbed.csv'
df = pd.read_csv(data)

In [7]:
df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.477778

In [6]:
df_comments = df[['comments']]

df_comments['word_count'] = ''
df_comments['avg_word_length'] = ''

for index,row in df_comments.iterrows():
    (word_count,average_word_length) = analyze_comment(df_comments.loc[index,'comments'])
    df_comments.loc[index,'word_count'] = word_count
    df_comments.loc[index,'avg_word_length'] = average_word_length

df_comments.head()

,comments,word_count,avg_word_length
0,This event took place in early fall around 194...,24,4.66667
1,1949 Lackland AFB&#44 TX. Lights racing acros...,17,4.58824
2,Green/Orange circular disc over Chester&#44 En...,6,7.66667
3,My older brother and twin sister were leaving ...,26,4.34615
4,AS a Marine 1st Lt. flying an FJ4B fighter/att...,25,5.2