In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
scrubbed_data = "Resources/scrubbed.csv"


# Read School and Student Data File and store into Pandas DataFrames
UFO_data = pd.read_csv(scrubbed_data)

UFO_data.head()

C:\Users\grety\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [3]:
shape = UFO_data["shape"].unique()
shape

array(['cylinder', 'light', 'circle', 'sphere', 'disk', 'fireball',
       'unknown', 'oval', 'other', 'cigar', 'rectangle', 'chevron',
       'triangle', 'formation', nan, 'delta', 'changing', 'egg',
       'diamond', 'flash', 'teardrop', 'cone', 'cross', 'pyramid',
       'round', 'crescent', 'flare', 'hexagon', 'dome', 'changed'],
      dtype=object)

In [4]:
shapes = len(UFO_data["shape"].unique())
shapes

30

In [5]:
shape_numbers = UFO_data["shape"].value_counts()
shape_numbers

light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
flare            1
pyramid          1
changed          1
dome             1
hexagon          1
Name: shape, dtype: int64

In [6]:
columns = UFO_data.columns

columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [7]:
UFO_data["shape_reported"] = UFO_data["shape"]
UFO_data["shape_reported"]

0        cylinder
1           light
2          circle
3          circle
4           light
           ...
80327       light
80328      circle
80329       other
80330      circle
80331       cigar
Name: shape_reported, Length: 80332, dtype: object

In [8]:
UFO_data.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,shape_reported
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,cylinder
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,light
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,circle
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,circle
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,light

In [9]:
column_names = ["datetime", "city", "state", "shape", "shape_reported", "duration (seconds)", 'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude ']

UFO_data = UFO_data.reindex(columns=column_names)

UFO_data.head()

,datetime,city,state,shape,shape_reported,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,cylinder,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,light,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,circle,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,circle,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,light,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [10]:
UFO_data["shape"] = UFO_data["shape"].replace({"cigar": "cylinder", "circle": "disk", "changed": "changing", "flare":"flash", "delta":"triangle","round":"sphere", "fireball": "sphere", "pyramid": "cone", "formation":"undefined","crescent":"chevron"})

In [11]:
UFO_data.head()

,datetime,city,state,shape,shape_reported,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,cylinder,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,light,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,disk,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,disk,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,light,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [12]:
shape_numbers2 = UFO_data["shape"].value_counts()
shape_numbers2

light        16565
disk         12821
sphere       11597
triangle      7872
other         5649
unknown       5584
oval          3733
cylinder      3340
undefined     2457
changing      1963
flash         1329
rectangle     1297
diamond       1178
chevron        954
egg            759
teardrop       750
cone           317
cross          233
dome             1
hexagon          1
Name: shape, dtype: int64

In [13]:
UFO_data["shape_category"] = UFO_data["shape"]
UFO_data["shape_category"]

0        cylinder
1           light
2            disk
3            disk
4           light
           ...
80327       light
80328        disk
80329       other
80330        disk
80331    cylinder
Name: shape_category, Length: 80332, dtype: object

In [14]:
column_names = ["datetime", "city", "state", "shape_category", "shape", "shape_reported", "duration (seconds)", 'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude ']

UFO_data = UFO_data.reindex(columns=column_names)

UFO_data.head()

,datetime,city,state,shape_category,shape,shape_reported,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,cylinder,cylinder,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,light,light,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,disk,disk,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,disk,disk,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,light,light,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [15]:
UFO_data["shape_category"] = UFO_data["shape_category"].replace({"disk": "roundish", "sphere": "roundish", "undefined": "other", "unknown":"other","flash":"light","egg":"oblong","teardrop":"oblong", "cylinder":"oblong","rectangle":"oblong","cone":"triangulesque","triangle":"triangulesque","hexagon":"roundish","dome":"triangulesque"})

In [16]:
shape_categories = UFO_data["shape_category"].value_counts()
shape_categories

roundish         24419
light            17894
other            13690
triangulesque     8190
oblong            6146
oval              3733
changing          1963
diamond           1178
chevron            954
cross              233
Name: shape_category, dtype: int64

In [17]:
UFO_data.head(10)

,datetime,city,state,shape_category,shape,shape_reported,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,oblong,cylinder,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,light,light,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,roundish,disk,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,roundish,disk,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,light,light,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,roundish,sphere,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,roundish,disk,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,roundish,disk,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,roundish,disk,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,roundish,disk,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167

In [18]:
grouped_by_shape = UFO_data.groupby(["shape_category", "shape"])
grouped_by_shape

In [19]:
grouped_by_shape.count()

                          datetime   city  state  shape_reported  \
shape_category shape
changing       changing       1963   1963   1820            1963
chevron        chevron         954    954    914             954
cross          cross           233    233    212             233
diamond        diamond        1178   1178   1074            1178
light          flash          1329   1329   1244            1329
               light         16565  16565  15438           16565
oblong         cylinder       3340   3340   3089            3340
               egg             759    759    678             759
               rectangle      1297   1297   1217            1297
               teardrop        750    750    674             750
other          other          5649   5649   5184            5649
               undefined      2457   2457   2283            2457
               unknown        5584   5584   5239            5584
oval           oval           3733   3733   3446            3733
roundish       disk          12821  12821  11732           12821
               hexagon           1      1      1               1
               sphere        11597  11597  10816           11597
triangulesque  cone            317    317    278             317
               dome              1      1      1               1
               triangle       7872   7872   7402            7872

                          duration (seconds)  duration (hours/min)  comments  \
shape_category shape
changing       changing                 1963                  1963      1963
chevron        chevron                   954                   954       954
cross          cross                     233                   233       233
diamond        diamond                  1178                  1178      1178
light          flash                    1329                  1329      1329
               light                   16565                 16565     16563
oblong         cylinder                 3340                  3340      3339
               egg                       759                   759       759
               rectangle                1297                  1297      1297
               teardrop                  750                   750       750
other          other                    5649                  5649      5649
               undefined                2457                  2457      2457
               unknown                  5584                  5584      5584
oval           oval                     3733                  3733      3731
roundish       disk                    12821                 12821     12820
               hexagon                     1                     1         1
               sphere                  11597                 11597     11596
triangulesque  cone                      317                   317       317
               dome                        1                     1         1
               triangle                 7872                  7872      7871

                          date posted  latitude  longitude
shape_category shape
changing       changing          1963      1963        1963
chevron        chevron            954       954         954
cross          cross              233       233         233
diamond        diamond           1178      1178        1178
light          flash             1329      1329        1329
               light            16565     16565       16565
oblong         cylinder          3340      3340        3340
               egg                759       759         759
               rectangle         1297      1297        1297
               teardrop           750       750         750
other          other             5649      5649        5649
               undefined         2457      2457        2457
               unknown           5584      5584        5584
oval           oval              3733      3733        3733
roundish       disk             12821     12821       12821
               hexagon              1         1           1
               sphere           11597     11597       11597
triangulesque  cone               317       317         317
               dome                 1         1           1
               triangle          7872      7872        7872

In [20]:
grouped_by_shape1 = grouped_by_shape[["shape"]]

In [21]:
grouped_df = grouped_by_shape1.count()

grouped_df.head()

                         shape
shape_category shape
changing       changing   1963
chevron        chevron     954
cross          cross       233
diamond        diamond    1178
light          flash      1329

In [22]:
grouped_df.columns

Index(['shape'], dtype='object')

In [23]:
grouped_by_shape_df = grouped_df.rename(columns={"shape":"sightings"})
grouped_by_shape_df

                          sightings
shape_category shape
changing       changing        1963
chevron        chevron          954
cross          cross            233
diamond        diamond         1178
light          flash           1329
               light          16565
oblong         cylinder        3340
               egg              759
               rectangle       1297
               teardrop         750
other          other           5649
               undefined       2457
               unknown         5584
oval           oval            3733
roundish       disk           12821
               hexagon            1
               sphere         11597
triangulesque  cone             317
               dome               1
               triangle        7872

In [24]:
UFO_data.to_csv("shape_data.csv", index=True)

In [26]:
grouped_by_shape_df.to_csv("grouped_shape_data.csv", index=True)